.j1 {
    margin: 20px;
    padding: 10px;
    font-size: large;
}
.j2 {
    margin: 20px;
    padding: 10px;
    font-size: large;
}
.j3 {
    margin: 20px;
    padding: 10px;
    font-size: large;
}
.j4 {
    margin: 20px;
    padding: 10px;
    font-size: large;
}
.j5 {
    margin: 20px;
    padding: 10px;
    font-size: large;
}
#a2 {
    float: right;
    height: 250px;
}
#a1 {
    height: 250px;
}