.j1 {
    margin: 20px;
    padding: 10px;
    font-size: large;
}
.j2 {
    margin: 20px;
    padding: 10px;
    font-size: large;
}
.j3 {
    margin: 20px;
    padding: 10px;
    font-size: large;
}